.info-body {
	background-color: #f9fcff;
}

.myinfo-div1 {
	font-size: 40px;
	background-color: #ff8e15;
	border-radius: 15px;
	padding: 5px 20px;
	color: white;
}

.myinfo-hr {
	border: solid 1px #19558c;
}

.myinfo-table {
	width: 50%;
	margin: 0 auto;
}

.input-form.col-md-12.mx-auto {
	background-color: darkgray;
	border-radius: 8px;
	padding: 30px;
}

.info-div {
	margin-top: 60px;
	width: 60%;
}

form.info-form {
	width: 80%;
	margin: 0 auto;
}
/* 
input#sample6_detailAddress, input#phone, input#email {
	border: solid 1px #aaa;
	height: 40px;
	border-radius: 15px;
	width: 69%;
	padding: 12px;
	display: inline;
	margin-bottom: 10px;
} */

input.adbtn, #phone-c, #email-c, #phoneChk, #sendMail, #verifyEmailConfirm , #phoneChk2 {
	border-radius: 15px;
	width: 29%;
	height: 40px;
	border: 1px solid #aaa;
	padding: 2px;
}

input#id, input#pw, input#pw2, input#name, input#birth, input#gender,
	input#sample6_address {
	border-radius: 15px;
	height: 40px;
	border: 1px solid #aaa;
	padding: 12px;
	width: 100%;
	margin-bottom: 10px;
}

button#cbtn {
	background-color: #ff8e15;
	color: white;
	border: 1px solid #ff8e15;
	border-radius: 7px;
	width: 50%;
	height: 40px;
	font-weight: bold;
	margin: 50px auto 0 auto;
	padding: 2px;
}

button#cbtn:hover {
	background-color: #ff9a2d;
	color: white;
}

#dbtn {
	background-color: white;
	color: #777;
	border: 1px solid #777;
	border-radius: 7px;
	width: 50%;
	height: 40px;
	font-weight: bold;
	margin: 8px auto;
	padding: 2px;
}

#dbtn:hover {
	color: #222;
	border: 1px solid #222;
}

#emailCheck{ /* input#phone2 */
    border-radius: 15px;
    width: 45%;
    height: 35px;
    border: 1px solid #aaa;
    padding: 12px;
}

/* 내정보 수정 비밀번호 체크 */
.check-div1 {
	font-size: 40px;
	background-color: #ff8e15;
	border-radius: 15px;
	padding: 5px 20px;
	color: white;
}

.check-hr {
	border: solid 1px #19558c;
}

.check-input {
	border-radius: 15px;
	width: 200px;
	height: 40px;
	border: 1px solid #aaa;
	padding: 12px;
}

.check-btn {
	background-color: white;
	color: #aaa;
	border: 1px solid #aaa;
	border-radius: 7px;
	width: 100px;
	height: 40px;
	font-weight: bold;
	margin-left: 15px;
}

.check-btn:hover {
	color: #555;
	border: 1px solid #555;
}

.check-pw-div {
	text-align: center;
	margin-top: 150px;
}

.check-form {
	display: flex;
	justify-content: center;
}



/* 반응형 */
@media (max-width: 991px) {
 .myinfo-table {
    width: 75%;
  }
}

@media (max-width: 767px) {
 .myinfo-table {
    width: 100%;
  }
}

@media (max-width: 575px) {
 #myinfo-th, #myinfo-td {
    display: block;
  }
  #myinfo-thnone {
  display: none;
  }
  input#sample6_detailAddress, input#phone, input#email {
  width: 59%;
  }
  input.adbtn, #phone-c, #email-c, #phoneChk, #sendMail{
  width: 39%;
  }
}

