<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnaDAO">

	<select id="getQnaList" resultType="qna">
		SELECT * FROM QNA ORDER BY QNA_NUM DESC;
		
	</select>

	<select id="getQnaOne" resultType="qna">
		SELECT * FROM QNA WHERE QNA_NUM = 1;
	</select>

	<insert id="insertQna">
		INSERT INTO QNA(QNA_USER_ID, QNA_REGDATET, QNA_CONTENT,QNA_USER_EMAIL,QNA_ADMIN_ID,QNA_ANSWER,QNA_ANSWER_DATE,QNA_VIEWS)
        VALUES(#{qna_user_id},NOW(),#{qna_content},#{qna_user_email},#{qna_admin_id},#{qna_answer},NOW(),0)
	</insert>

	<update id="updateQna">
		UPDATE QNA
		SET
		COLUMNNAME1=#{qna_content}, QMA_ANSWER =#{qna_answe}
		WHERE
		QNA_NUM = #{qna_num}
	</update>

	<delete id="deleteQna">
		DELETE FROM QNA WHERE
		QNA_NUM = #{qna_num}
	</delete>

</mapper>
